$grid-breakpoints: (xxs: 0, xss: 380px, xs: 568px, sm: 667px, md: 768px, lg: 992px, xl: 1200px, xxl: 1660px, xxxl: 1920px);
//$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1280px);

$color-body: #f8f8f8;
$color-white: #ffffff;
$color-green-btn: #a3d24a;
$color-green-text: #83c03c;
$color-green-hover: #b3e559;
$color-green-active: #98c04f;
$color-lightgrey: #e8e8e8;
$color-darkgrey: #7a7a7a;
$color-yellow: #ffe400;
$color-pink: #ff9579;
$color-blue: #2f69bd;
$color-white-rgb: rgba(255, 255, 255, 1);
$color-transparent-rgb: rgba(255, 255, 255, 0);

$transition-time: 0.3s;


$font-stack: -apple-system, BlinkMacSystemFont,Muller,sans-serif;